.su-u-clearfix::after {content:'';display:table;clear:both;}
.su-u-trim>:first-child {margin-top:0;}
.su-u-trim>:last-child {margin-bottom:0;}
.su-accordion {margin-bottom:1.5em;}
.su-accordion .su-spoiler {margin-bottom:.5em;}
.su-box {margin:0 0 1.5em;border-width:2px;border-style:solid;}
.su-box-title {display:block;padding:.5em 1em;font-weight:700;font-size:1.1em;}
.su-box-content {background-color:#fff;color:#444;padding:1em;}
.su-button {display:inline-block!important;text-align:center;text-decoration:none!important;box-sizing:content-box!important;transition:all .2s;}
.su-button-wide {display:block!important;margin:1em 0;}
.su-button-center {text-align:center;}
.su-button span {display:block!important;text-decoration:none!important;box-sizing:content-box!important;transition:all .2s;color:#fff;padding:0.5rem 1.2rem;line-height:1.8rem;}
.su-button img {border:none!important;vertical-align:middle!important;margin:-.2em .4em 0 -.3em!important;box-shadow:none!important;}
.su-button i {display:inline-block;width:1em;height:1em;margin:0 .5em 0 0!important;text-align:center;line-height:1em;}
.su-button.su-button-float-icon img {margin:0 .5em!important;}
.su-button small {display:block;margin:-.2em 0 0;color:inherit;text-align:center;font-style:normal;font-size:.8em;line-height:1;opacity:.7;}
@media screen and (max-width:768px) {.su-button span {padding:0.4rem 1.2rem}
.su-button small {margin-top:.2em!important;};}
.su-button-style-default {border-width:1px;border-style:solid;}
.su-button-style-default:hover {opacity:.7;}
.su-button-style-default span {border-top-width:1px;border-bottom-width:1px;border-top-style:solid;border-bottom-style:solid;}
.su-button-style-flat,.su-button-style-flat span {border:none;}
.su-button-style-flat span {position:relative;}
.su-button-style-flat:hover span {top:1px;}
.su-row {margin-bottom:1.5em;}
.su-row::after {display:table;clear:both;content:'';}
.su-row .su-column {display:block;float:left;box-sizing:border-box;margin:0 0 0 4%;}
.su-row .su-column:first-child {margin-left:0;}
.su-row .su-column.su-column-size-1-1 {margin-right:0;margin-left:0;}
.su-row .su-column.su-column-centered {float:none;margin-right:auto;margin-left:auto;}
.su-row .su-column-size-1-1 {width:100%;}
.su-row .su-column-size-1-2 {width:48%;}
.su-row .su-column-size-1-3 {width:30.66%;}
.su-row .su-column-size-2-3 {width:65.33%;}
.su-row .su-column-size-1-4 {width:22%;}
.su-row .su-column-size-3-4 {width:74%;}
.su-row .su-column-size-1-5 {width:16.8%;}
.su-row .su-column-size-2-5 {width:37.6%;}
.su-row .su-column-size-3-5 {width:58.4%;}
.su-row .su-column-size-4-5 {width:79.2%;}
.su-row .su-column-size-1-6 {width:13.33%;}
.su-row .su-column-size-5-6 {width:82.66%;}
.su-row .su-column embed,.su-row .su-column iframe,.su-row .su-column img,.su-row .su-column object {max-width:100%;}
@media only screen and (max-width:767px) {.su-row .su-column {float:none;width:100%;margin:0;} .su-row .su-column+.su-column {margin:1.5rem 0 0;};}
.su-expand {margin:0 0 1.5em;}
.su-expand-content {overflow:hidden;}
.su-expand-link {margin-top:.5em;cursor:pointer;}
.su-expand-link:hover {opacity:.7;}
.su-expand-link a,.su-expand-link a:active,.su-expand-link a:focus,.su-expand-link a:hover,.su-expand-link a:visited {display:inline;text-decoration:none;box-shadow:none;background:0 0;border:none;}
.su-expand-link-style-underlined .su-expand-link span {text-decoration:underline;}
.su-expand-link-style-dotted .su-expand-link span {border-bottom:1px dotted #333;}
.su-expand-link-style-button .su-expand-link a {display:inline-block;line-height:24px;font-size:0.8rem;margin-top:.5rem;padding:.2rem .5rem;color:#777 !important;border:2px solid #777;border-radius:3px;}
.su-expand-link-more {display:none;}
.su-expand-link-less {display:block;}
.su-expand-collapsed .su-expand-link-more {display:block;}
.su-expand-collapsed .su-expand-link-less {display:none;}
.su-expand-link i {display:inline-block;margin:0 .5rem .1rem 0;vertical-align:middle;color:inherit;}
.su-expand-link img {display:inline-block;width:1em;height:1em;margin:0 .3em 0 0;vertical-align:middle;}
.su-heading-style-default {padding:2px 0;border-top:1px solid #999;border-bottom:1px solid #999;}
.su-heading-style-default .su-heading-inner {padding:1em .5em;border-top:4px solid #eee;border-bottom:4px solid #eee;}
.su-heading.su-heading-align-left {text-align:left;}
.su-heading.su-heading-align-left .su-heading-inner {padding-left:.2em;}
.su-heading.su-heading-align-right {text-align:right;}
.su-heading.su-heading-align-right .su-heading-inner {padding-right:.2em;}
.su-heading.su-heading-align-center {text-align:center;}
.su-label {display:inline;margin-right:.3em;padding:.1em .3em;font-size:.8em;height:.8em;line-height:.8em;color:#fff;border-radius:3px;}
.su-label-type-default {background:#999;}
.su-label-type-success {background:#090;}
.su-label-type-warning {background:#f90;}
.su-label-type-important {background:#f03;}
.su-label-type-black {background:#111;}
.su-label-type-info {background:#09c;}
.su-list {margin-bottom:1.5em;}
.su-list ul {margin:0!important;padding:0!important;list-style:none!important;}
.su-list ul li {position:relative;display:block!important;margin:0!important;padding:4px 0 4px 2em!important;list-style-type:none!important;line-height:1.3em;}
.su-list ul li>img {position:absolute;left:0;top:4px;width:1.3em;height:1.3em;padding:0;margin:0;border:none;}
.su-list ul li>i {position:absolute;left:0;top:4px;width:1.3em;height:1.3em;line-height:1.3em;text-align:center;}
.su-note {margin:0 0 1.5em;border-width:1px;border-style:solid;}
.su-note-inner {padding:1em;border-width:1px;border-style:solid;}
.su-spoiler {margin-bottom:1.5em;}
.su-spoiler .su-spoiler:last-child {margin-bottom:0;}
.su-spoiler-title {position:relative;cursor:pointer;min-height:20px;line-height:20px;padding:7px 7px 7px 34px;font-weight:700;font-size:13px;}
.su-spoiler-title:focus {outline:currentColor thin dotted;}
.su-spoiler-icon {position:absolute;left:7px;top:7px;display:block;width:20px;height:20px;line-height:21px;text-align:center;font-size:14px;font-family:ShortcodesUltimateIcons;font-weight:400;font-style:normal;-webkit-font-smoothing:antialiased;}
.su-spoiler-content {padding:14px;transition:padding-top .2s;-ie-transition:padding-top .2s;}
.su-spoiler.su-spoiler-closed>.su-spoiler-content {height:0;margin:0;padding-top:0;padding-bottom:0;overflow:hidden;border:none;opacity:0;pointer-events:none;}
.su-spoiler.su-spoiler-closed>.su-spoiler-content iframe {display:none;}
.su-spoiler-icon-plus .su-spoiler-icon:before {content:'\f068';}
.su-spoiler-icon-plus.su-spoiler-closed .su-spoiler-icon:before {content:'\f067';}
.su-spoiler-icon-plus-circle .su-spoiler-icon:before {content:'\f056';}
.su-spoiler-icon-plus-circle.su-spoiler-closed .su-spoiler-icon:before {content:'\f055';}
.su-spoiler-icon-plus-square-1 .su-spoiler-icon:before {content:'\f146';}
.su-spoiler-icon-plus-square-1.su-spoiler-closed .su-spoiler-icon:before {content:'\f0fe';}
.su-spoiler-icon-plus-square-2 .su-spoiler-icon:before {content:'\f147';}
.su-spoiler-icon-plus-square-2.su-spoiler-closed .su-spoiler-icon:before {content:'\f196';}
.su-spoiler-icon-arrow .su-spoiler-icon:before {content:'\f063';}
.su-spoiler-icon-arrow.su-spoiler-closed .su-spoiler-icon:before {content:'\f061';}
.su-spoiler-icon-arrow-circle-1 .su-spoiler-icon:before {content:'\f0ab';}
.su-spoiler-icon-arrow-circle-1.su-spoiler-closed .su-spoiler-icon:before {content:'\f0a9';}
.su-spoiler-icon-arrow-circle-2 .su-spoiler-icon:before {content:'\f01a';}
.su-spoiler-icon-arrow-circle-2.su-spoiler-closed .su-spoiler-icon:before {content:'\f18e';}
.su-spoiler-icon-chevron .su-spoiler-icon:before {content:'\f078';}
.su-spoiler-icon-chevron.su-spoiler-closed .su-spoiler-icon:before {content:'\f054';}
.su-spoiler-icon-chevron-circle .su-spoiler-icon:before {content:'\f13a';}
.su-spoiler-icon-chevron-circle.su-spoiler-closed .su-spoiler-icon:before {content:'\f138';}
.su-spoiler-icon-caret .su-spoiler-icon:before {content:'\f0d7';}
.su-spoiler-icon-caret.su-spoiler-closed .su-spoiler-icon:before {content:'\f0da';}
.su-spoiler-icon-caret-square .su-spoiler-icon:before {content:'\f150';}
.su-spoiler-icon-caret-square.su-spoiler-closed .su-spoiler-icon:before {content:'\f152';}
.su-spoiler-icon-folder-1 .su-spoiler-icon:before {content:'\f07c';}
.su-spoiler-icon-folder-1.su-spoiler-closed .su-spoiler-icon:before {content:'\f07b';}
.su-spoiler-icon-folder-2 .su-spoiler-icon:before {content:'\f115';}
.su-spoiler-icon-folder-2.su-spoiler-closed .su-spoiler-icon:before {content:'\f114';}
.su-spoiler-style-default>.su-spoiler-title {padding-left:27px;padding-right:0;}
.su-spoiler-style-default>.su-spoiler-title>.su-spoiler-icon {left:0;}
.su-spoiler-style-default>.su-spoiler-content {padding:1em 0 1em 27px;}
.su-spoiler-style-fancy {border:1px solid #ccc;border-radius:10px;background:#fff;color:#333;}
.su-spoiler-style-fancy>.su-spoiler-title {border-bottom:1px solid #ccc;border-radius:10px;background:#f0f0f0;font-size:.9em;}
.su-spoiler-style-fancy.su-spoiler-closed>.su-spoiler-title {border:none;}
.su-spoiler-style-fancy>.su-spoiler-content {border-radius:10px;}
.su-spoiler-style-simple {border-top:1px solid #ccc;border-bottom:1px solid #ccc;}
.su-spoiler-style-simple>.su-spoiler-title {padding:5px 10px;background:#f0f0f0;color:#333;font-size:.9em;}
.su-spoiler-style-simple>.su-spoiler-title>.su-spoiler-icon {display:none;}
.su-spoiler-style-simple>.su-spoiler-content {padding:1em 10px;background:#fff;color:#333;}
.su-table {width:100%;margin-bottom:1.5em;}
.su-table table {width:100%!important;margin:0!important;}
.su-table table th {text-align:center!important;font-weight:700!important;color:#333!important;border-top:1px solid #ccc;border-bottom:1px solid #ccc;}
.su-table-responsive {overflow-x:auto;}
.su-table-responsive table {width:auto!important;min-width:100%!important;}
.su-table-responsive table td,.su-table-responsive table th {word-break:initial!important;}
.su-tabs {margin:0 0 1.5em;padding:1px;border-radius:3px;background:#ddd;}
.su-tabs-nav span {display:inline-block;margin-right:3px;padding:10px 15px;min-height:40px;border-top-left-radius:3px;border-top-right-radius:3px;color:#333;font-size:13px;line-height:20px;cursor:pointer;transition:all .2s;}
.su-tabs-nav span:hover {background:#f5f5f5;}
.su-tabs-nav span.su-tabs-current {background:#fff;cursor:default;}
.su-tabs-nav span:focus {outline:currentColor thin dotted;}
.su-tabs-nav span.su-tabs-disabled {opacity:.5;cursor:default;}
.su-tabs-pane {padding:15px;border-bottom-right-radius:3px;border-bottom-left-radius:3px;background:#fff;color:#333;font-size:13px;}
.su-tabs-pane:not(.su-tabs-pane-open) {overflow:hidden!important;padding-top:0!important;padding-bottom:0!important;min-height:0!important;height:0!important;border:none!important;}
.su-tabs-nav,.su-tabs-nav span,.su-tabs-pane,.su-tabs-panes {box-sizing:border-box!important;}
.su-tabs-vertical {display:flex;}
.su-tabs-vertical .su-tabs-nav {width:30%;}
.su-tabs-vertical .su-tabs-nav>span {display:block;margin-right:0;border-radius:0;border-top-left-radius:3px;border-bottom-left-radius:3px;}
.su-tabs-vertical .su-tabs-panes {width:70%;}
.su-tabs-vertical .su-tabs-panes .su-tabs-pane {height:100%;border-radius:0;border-top-right-radius:3px;border-bottom-right-radius:3px;}
@media only screen and (max-width:768px) {.su-tabs-vertical {flex-direction:column;}
.su-tabs-vertical .su-tabs-nav,.su-tabs-vertical .su-tabs-panes {width:100%;}
.su-tabs-vertical .su-tabs-nav .su-tabs-pane,.su-tabs-vertical .su-tabs-nav>span,.su-tabs-vertical .su-tabs-panes .su-tabs-pane,.su-tabs-vertical .su-tabs-panes>span {border-radius:3px;}
.su-tabs-mobile-stack .su-tabs-nav span {display:block;}
.su-tabs-mobile-scroll .su-tabs-nav {display:flex;align-items:flex-end;white-space:nowrap;overflow-x:auto;};}
.su-tooltip {display:none;}
.su-tooltip.su-tooltip-visible {display:block;}
.su-tooltip-inner {display:block;position:relative;padding:.7em .85em;}
.su-tooltip-title {display:block;font-weight:700;font-size:1.1em;margin-bottom:.25em;}
.su-tooltip-title:empty {display:none;}
.su-tooltip-content {display:block;}
.su-tooltip-shadow-yes {box-shadow:0 0 10px rgba(0,0,0,.5);}
.su-tooltip-button {position:relative;}
.su-tooltip-button-outline-no:focus {outline:0;}
.su-tooltip-arrow,.su-tooltip-arrow::before {position:absolute;width:8px;height:8px;background:inherit;}
.su-tooltip-arrow {visibility:hidden;}
.su-tooltip-arrow::before {visibility:visible;content:'';-webkit-transform:rotate(45deg);transform:rotate(45deg);}
.su-tooltip[data-popper-placement^=top]>.su-tooltip-arrow {bottom:-4px;}
.su-tooltip[data-popper-placement^=bottom]>.su-tooltip-arrow {top:-4px;}
.su-tooltip[data-popper-placement^=left]>.su-tooltip-arrow {right:-4px;}
.su-tooltip[data-popper-placement^=right]>.su-tooltip-arrow {left:-4px;}