h2,h3,h4,body,table>thead>tr>th {font-family: PingFangSC-Medium,"Microsoft Yahei-Bold","Microsoft Yahei"!important;}
h2 {color:#fe1b48 !important;width:100%;font-size:2.2rem;}
article .entry-content a:hover {color:#e10707;}
article .entry-content div.su-heading {border-top:1px solid #1a73e8;border-bottom:1px solid #1a73e8;margin-top:3rem;font-size:24px !important;}
article .entry-content div.su-heading div.su-heading-inner {color:#1a73e8;border-top:4px solid rgb(238,242,254,1.0);border-bottom:4px solid rgb(238,242,254,1.0);padding:0.5em 0.5em;}
article .header-bottom .entry-meta i {display:inline-block;width:1.2rem;margin-left:0.15rem;}
div.brand {padding:0 1rem 1rem 1rem;border-radius:6px;}
div.brand p.review {margin:0 auto;}
div.brand p.review i {margin:0 0.3rem;}
div.brand p, div.brand div.description {text-align:center !important;}
div.brand .brand-top-logo {line-height:110px;text-align:center !important;}
div.brand .brand-apply {border-bottom:1px #efefef solid;}
div.brand .brand-apply p {margin-top:0;margin-bottom:1.2rem;}
div.brand .brand-apply a:nth-child(1) {margin-right:0.5rem;}
div.brand .brand-apply a:nth-child(2) {margin-left:0.5rem;}
div.brand .brand-apply a.su-button span {padding:0.4rem 1.2rem;}
div.brand .brand-apply-single a {margin:0.5rem 0 !important;}
div.brand .brand-apply-single a.su-button span {padding:0.5rem 1.5rem;}
div.brand .brand-detail {margin:1.5rem auto 0.5rem 2rem;text-align:left;}
div.brand .brand-detail ul li i.sui-arrow-right {width:15px;margin-right:10px;}
div.brand .su-button span {font-size:1.1rem;padding:0.6rem 2rem}
div.post-item-button {margin:1.2rem auto;}
div.chart-container {margin-top:2rem;height:320px;}
div.flex-row div.col-sm-auto {margin-left:auto;margin-right:auto;}
div.pt-cv-pinmas > h4.pt-cv-title {margin-top:0.3rem !important;margin-bottom:-0.3rem !important;}
div.pt-cv-pinmas > div.pt-cv-content > a.pt-cv-readmore {margin-top:0.6rem !important;}
div.affiliate-disclosure {margin:-1rem 0;padding:0 0.5rem;text-align:justify;}
div.center div.tips {font-size:14px;margin:0.3rem auto 1.5rem auto;}
div.center div.tips + div.post-item-button {margin-top:-0.6rem;}
div#commentlist-container div.comment-content {font-size:1em;}
div#commentlist-container div.comment-author, div#commentlist-container div.comment-author a {font-weight:bold;}
div#commentlist-container div.comment-author > span.small {margin:3px;color:#008821;display:inline-block;border:1px solid #008821;padding:3px;line-height:12px;}
div#footer-horizontal-widget-area div.center {margin:0 0 -1.5rem 0;padding-bottom:0.5rem;border-top:1px solid #ddd;background-color:#f7f8f9;}
div#footer-horizontal-widget-area div.center > div {margin:1.5rem auto;max-width:1200px;}
div#footer-horizontal-widget-area div.center > div table {margin-bottom:1rem;}
div#footer-horizontal-widget-area div.center > div table td {text-align:center;line-height:50px;}
div#footer-horizontal-widget-area div.center > div table td img {width:75%;}
div.shop-item {text-align:center;}
div.shop-item > div.img {margin-bottom:1rem;}
div.shop-item > div.img > img {width:320px;margin:3px 0px;}
div.textwidget div.su-heading {border-image:linear-gradient(45deg,#fe1b48,#40e0d0) 1;border-left:none !important;border-right:none !important;}
div.textwidget div.su-heading div.su-heading-inner {padding:0.2em;font-size:1.2rem;border-left:none !important;border-right:none !important;border-image:linear-gradient(45deg,#ffe4e1,#e1ffff) 1;}
div.textwidget div.su-list ul li {word-break:break-all;}
div.aawp-compare {max-width:600px;margin-left:auto;margin-right:auto;}
div.aawp-compare table.aawp-compare-table tr td {border:none !important;}
div.aawp-compare table.aawp-compare-table tr td.aawp-table-td-thumb {padding:1.25rem !important;}
div.aawp-compare table.aawp-compare-table tr td.aawp-table-td-description {padding-top:1.5rem !important;padding-bottom:1.5rem !important;}
div.aawp-compare table.aawp-compare-table-featured {border:1px #38d39f solid !important;}
div.about-author {color:#fff;background-color:#00aeef;max-width:1020px;margin:0 auto 2rem auto;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;}
div.about-author h4 {color:#fff;margin-bottom:1rem;}
div.about-author div.su-column:nth-child(1) div.center {max-width:200px;margin:1.5rem 0 1.5rem 2rem;}
div.about-author div.su-column:nth-child(1) img {border-radius:99%;-moz-border-radius:99%;-ms-border-radius:99%;-webkit-border-radius:99%;}
div.about-author div.su-column:nth-child(2) p {font-size:1rem;}
div.about-author div.su-column:nth-child(2) div.su-column-inner {padding:1.5rem 2rem;}
div.language-container {display:none;margin:1rem 0;}
div.language-container ul {max-width:1200px;margin:1rem auto;}
div.language-container ul li {width:100px;display:inline-block;margin:0.5rem;}
div.language-container ul li img {width:18px;margin-right:0.2rem;}
table:not(.aawp-table) tr th, table:not(.aawp-table) tr td {padding:0.4rem;}
table.price {margin-bottom:1.5em;}
table.price tr th {text-align:center;border-bottom:1px solid rgba(225,7,7,.5) !important;font-weight:bold;}
table.price tr th.border-right {border-right:1px solid rgba(225,7,7,.5) !important;}
table.price tr th a {font-weight:normal;}
table.price tr td {text-align:center;}
table.price tr td.th {color:#333;font-weight:bold;border:none;padding:0.05rem !important;}
table.price tr td.red {color:red;font-weight:bold;}
table.price tr td.border-right {border-right:1px solid rgba(225,7,7,.5) !important;}
table.price tr td.border-top {border-top:1px solid rgba(225,7,7,.5) !important;}
table.price tr td.border-bottom {border-bottom:1px solid rgba(225,7,7,.5) !important;}
table.fees tr th {color:#1a73e8;background-color:rgb(238,242,254,0.5);border-top:1px solid #c2d9fc;border-bottom:1px solid #c2d9fc;}
table.fees tr th:first-child {border-top-left-radius:5px;}
table.fees tr th:last-child {border-top-right-radius:5px;}
table.fees tr th:first-child,table.fees tr td:first-child {border-left:1px solid #c2d9fc !important;padding-left:0.6rem;}
table.fees tr th:last-child,table.fees tr td:last-child {border-right:1px solid #c2d9fc !important;padding-right:0.6rem;}
table.fees tr td {border-top:none;}
table.fees tr:last-child td {border-bottom:1px solid #c2d9fc !important;}
table.fees tr:last-child td:first-child {border-bottom-left-radius:5px;}
table.fees tr:last-child td:last-child {border-bottom-right-radius:5px;}
table.features {border-collapse:separate;border-spacing:0;margin:1.2rem auto;}
table.features tr:nth-child(odd) {background-color:rgb(238,242,254,0.8);}
table.features tr:nth-child(odd) td:nth-child(1) {border-bottom-left-radius:5px;border-top-left-radius:5px;}
table.features tr:nth-child(odd) td:nth-child(2) {border-bottom-right-radius:5px;border-top-right-radius:5px;}
table.features tr td {border:none !important;padding:0.3rem 0.2rem;}
table.features tr td:nth-child(1) {color:#1a73e8;width:150px;}
table.features tr td:nth-child(1) i {color:#1a73e8;text-align:center;width:20px;}
table.left tr th, table.left tr td {text-align:left !important;}
table.left1 tr th:nth-child(1), table.left1 tr td:nth-child(1) {text-align:left !important;}
table.left2 tr th:nth-child(2), table.left2 tr td:nth-child(2) {text-align:left !important;}
table.left3 tr th:nth-child(3), table.left3 tr td:nth-child(3) {text-align:left !important;}
table.left4 tr th:nth-child(4), table.left4 tr td:nth-child(4) {text-align:left !important;}
table.left5 tr th:nth-child(5), table.left5 tr td:nth-child(5) {text-align:left !important;}
table.left6 tr th:nth-child(6), table.left6 tr td:nth-child(6) {text-align:left !important;}
table.left7 tr th:nth-child(7), table.left7 tr td:nth-child(7) {text-align:left !important;}
table.left8 tr th:nth-child(8), table.left8 tr td:nth-child(8) {text-align:left !important;}
table.fixed {table-layout:fixed;}
table.clear tr td {border:none !important;}
table.small tr td {padding-top:0.2rem !important;padding-bottom:0.2rem !important;}
table.bold1 tr td:nth-child(1) {font-weight:bold;}
table tr td ul {margin-bottom:0 !important;}
table.shop {table-layout:fixed;max-width:360px;margin-left:auto;margin-right:auto;border-collapse:separate;border-spacing:0.6rem 0;}
table.shop tr {text-align:center;}
table.shop tr td {padding:0 !important;border:0 !important;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;}
table.shop tr td:hover {background-color:#e3e4e5;}
table.shop tr td a {display:inline-block;padding:0.5rem 0.8rem !important;}
table.shop tr td a img {width:100%;min-width:55px;}
a.plan-button {color:#fff !important;text-decoration:none !important;margin:0 5px;padding:0.4rem 0.7rem;cursor:pointer;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;}
a.plan-button-red {background-color:#fe1b48;}
a.plan-button-red:hover {background-color:#dc0926;}
a.plan-button-blue {background-color:#17a2b8;}
a.plan-button-blue:hover {background-color:#058096;}
a.plan-button-green {background-color:#00bf08;}
a.plan-button-green:hover {background-color:#009d06;}
ul.list-info {list-style:none;}
ul.list-info li i.sui {width:30px;}
i.sui-check,i.sui-arrow-left,i.sui-arrow-right,i.sui-chevron-right,i.sui-bookmark-o,i.sui-smile-o {color:#00bf08 !important;}
i.sui-times,i.sui-frown-o {color:#df0000 !important;}
i.sui-info-circle {color:#00aeef !important;}
i.sui-ban {color:#ff5249 !important;}
i.star {color:#ff8000 !important;}
img.circle {border-radius:50%;}
th.left, td.left, ul.left li {text-align:left !important;}
th.right, td.right {text-align:right !important;}
hr.split {margin-top:2rem !important;margin-bottom:2rem !important;border-top:1px #00aeef solid !important;}
time.entry-date {margin:0 0.5rem;}
.cc-wrapper {border-radius:6px;margin-bottom:1.8rem;padding:25px;}
.cc-wrapper hr {border-top:#e2e2e2 1px solid;}
.cc-wrapper *:last-child {margin-bottom:0;}
.cc-wrapper .su-row-cc-top .su-column-inner div.center {background-color:rgb(238,242,254,0.5);border-radius:4px;}
.cc-wrapper .su-spoiler {margin-bottom:-0.5rem;}
.cc-wrapper .su-spoiler-content {padding:0.5rem 0.4rem 1rem 0.4rem;}
.cc-wrapper .su-spoiler-content ul, .cc-wrapper .su-spoiler-content ol {padding-left:1.5rem;}
.cc-wrapper .su-spoiler-content .su-list ul {padding-left:0.1rem !important;}
.cc-wrapper .su-row {margin-bottom:0;}
.cc-wrapper .su-row .su-column-size-1-3 .su-column-inner {position:relative;}
.cc-wrapper .sui-info-circle {color:#1a73e8 !important;margin-left:0.5rem;}
.cc-wrapper .su-spoiler-title {color:#395bb6;font-size:14px;}
.cc-wrapper-options-broker .su-row .su-column-size-1-3 .center:nth-child(1) {width:200px;height:200px;line-height:200px;}
.cc-wrapper-options-broker .su-row .su-column-size-1-3 .center:nth-child(2) a {color:#fff !important;padding:0.8rem 1.2rem;}
.cc-wrapper-options-broker .su-row .su-column-size-1-3 .center:nth-child(2) a i {display:inline-block;width:18px;margin: 0 0 0 0.5rem !important;}
.cc-title {margin-bottom:0.6rem;white-space:nowrap;}
.cc-title span {font-size:13px;line-height:12px;color:#1a73e8;background:#eef2fe;border-radius:3px;padding:8px 10px;display:inline-block;word-break:break-word;}
.cc-name {font-size:1.6rem;margin-top:0;}
.cc-image {width:180px;height:120px;max-width:80% !important;}
.cc-sroce {text-align:center !important;margin:0.8rem auto 0.3rem auto;}
.cc-sroce i {color:#1a73e8 !important;}
.cc-sroce span.cc-sroce-digital {font-weight:bold;display:inline-block;margin:0 0.5rem;font-size:20px;}
.cc-terms {text-align:center !important;}
.cc-terms a {color:#1a73e8;}
.cc-terms a:hover {color:#174ea7 !important;}
.cc-apply {font-weight:bold;text-align:right;}
.cc-apply a {font-size:1rem;display:inline-block;margin:0 0 0 14px;padding:0.5rem 0;width:200px;text-align:center;border-radius:3px;-moz-transition:all .2s ease-in;-o-transition:all .2s ease-in;-webkit-transition:all .2s ease-in;transition:all .2s ease-in;}
.cc-features-item {margin-bottom:0.3rem;}
.cc-features-item tr td {border:none;vertical-align:top;line-height:1.5rem;padding:0.2rem 0 !important;word-break:break-all;}
.cc-features-item tr td:nth-child(1) {width:80px;}
.cc-features-item tr td:nth-child(1) span {font-weight:600;color:#1a73e8;background:#eef2fe;border-radius:3px;padding:3px 6px;}
.cc-features-item tr td img {width:20px;margin-right:5px;}
.cc-review {text-align:justify;}
.cc-review + .su-row {margin-top:1.2rem;}
.cc-info + .su-spoiler {margin-top:0.6rem;}
.cc-regulatory tr td {border:none !important;padding:0 !important;}
.cc-regulatory tr td:nth-child(1) {width:30px;}
.cc-regulatory tr td:nth-child(1) img {width:20px;}
.cc-pros-cons-title {font-weight:bold;margin-bottom:0.5rem;}
@media screen and (max-width:767px) {
.cc-wrapper {padding:20px 15px;}
.cc-wrapper .su-row-cc-top .su-column-inner div.center {background-color:transparent;margin:2rem auto;}
.cc-wrapper .cc-info .su-column-size-1-2:nth-child(2) {margin-top:0.5rem !important;}
.cc-title {text-align:center !important;}
.cc-image {height:auto;}
.cc-apply {text-align:center;margin-bottom:1.5rem;}
.cc-apply a {display:block;width:15rem;margin:0.8rem auto !important;}
}
.customer-review {margin-bottom:1.2rem;padding:20px;border:1px #888 solid;border-radius:6px;}
.customer-review .su-column-size-1-5 .center svg {width:80px;height:80px;}
.customer-review .su-column-size-1-5 .center img {width:160px;max-width:100%;border-radius:5px;}
.customer-review .su-column-size-1-5 .center p:last-child {margin-bottom:0;}
.customer-review .su-column-size-1-5 .center .tips {font-size:inherit;font-weight:bold;margin-bottom:0;}
.customer-review .su-column-size-1-5 p {text-align:center;margin-top:0;}
.customer-review .su-column-size-4-5 .sui-quote-right {display:inherit;text-align:right;}
.customer-review i.star + strong, .customer-review i.star + .name {margin-left:0.8rem;font-weight:bold;}
.customer-review > p:last-child {margin-bottom:0;}
.customer-review > div + p.small {margin-top:0.6rem;}
.customer-review-positive {border-color:#6ba321;background-color:rgb(230,242,228,0.6);}
.customer-review-negative {border-color:#cc5249;background-color:rgb(247,240,240,0.6);}
.action {border:1px dashed #c2d9fc;border-radius:5px;padding:0.8rem;display:inline-block;margin-bottom:0;}
.action a {color:#fff !important;padding:0.8rem 1.2rem;}
.action a i {display:inline-block;width:18px;margin:0 0 0 0.5rem !important;}
.timeline__nav {z-index:99;top:0;transition:top 0.3s ease-out;}
.timeline__nav ul {list-style:none;}
.timeline__nav ul li {margin:0 0 0.5rem 0 !important;padding-left:25px;list-style-type:none;color:#1d4354;transition:all 0.3s ease-out;position:relative;}
.timeline__nav ul li.active {color:#00bf08;}
.timeline__nav ul li:not(:last-child)::before {content:"";position:absolute;background-color:#ccc;width:1px;left:7px;top:18px;bottom:-16px;}
.timeline__nav ul li div {background-color:transparent;border:1px solid rgb(153, 153, 153);width:6px;height:6px;border-radius:50%;margin-left:-20px;margin-top:10px;float: left;}
.timeline__nav ul li.active div {background-color:#00bf08;border-color:#00bf08;}
.timeline__nav ul li div.sub:after {content:"";position:absolute;color:#ccc;width:22px;left:13px;top:12px;border-top:1px #ccc dashed;}
.timeline__nav ul li div.sub + span {margin-left:22px;}
.timeline__nav ul li.active div.sub:after {border-top-color:#00bf08;}
.timeline__nav ul li span {cursor:pointer;display:inline-block;}
.black {color:#000 !important;font-weight:bold;}
.border {border:1px #ddd solid !important;}
.center * {text-align:center !important;margin-left:auto;margin-right:auto;}
.center {text-align:center !important;margin-left:auto;margin-right:auto;}
.grid .entry-title {font-size:1.2rem;}
.comment-reply-title {margin-top:0;}
.comment-list li.comment {margin-top:1.5rem;padding-top:1.5rem;}
.post-navigation .page-numbers, .post-navigation a {font-size:1.16rem;}
.copy-code {display:inline-block;border:1px #fe1b48 dashed;border-radius:3px;padding:0 5px;color:#fe1b48;cursor:pointer;}
.copy-code input {display:inline;border:none;padding:0;cursor:pointer;}
.copy-code .tooltiptext {display:none;background-color:#333;color:#fff;text-align:center;border-radius:3px;position:absolute;z-index:1;margin-left:12px;margin-top:-5px;width:60px;height:30px;line-height:30px;font-size:13px;}
.su-row-pros-cons {margin:1.2rem auto;border:1px #c2d9fc solid;border-top-left-radius:5px;border-top-right-radius:5px;}
.su-row-pros-cons .su-column-size-1-2:nth-child(1) {border-right:1px #c2d9fc solid;}
.su-row-pros-cons .su-column-size-1-2 .su-box .su-box-title {font-size:inherit;text-align:center;background-color:rgb(238,242,254,0.5) !important;border-bottom:1px #c2d9fc solid;}
.su-row-pros-cons .su-column-size-1-2:nth-child(1) .su-box .su-box-title {color:#00bf08;}
.su-row-pros-cons .su-column-size-1-2:nth-child(2) .su-box .su-box-title {color:#ff5249;}
.su-row-pros-cons .su-column-size-1-2 .su-box .su-box-content {padding:0.8rem 1.2rem;}
.su-row-pros-cons .su-column-size-1-2 .su-box .su-box-content ul {padding-left:1.3rem !important;}
.su-column-size-1-2 {margin:0 !important;}
.su-column-size-1-2 .su-box {border-width:0 !important;}
.su-column-size-1-2 .su-box-title {color:#fff;}
.su-column-size-2-5 img {width:90%;max-width:320px;}
.su-list-faq li:not(:first-child) {margin-top:1rem !important;}
.su-list-faq li *:last-child {margin-bottom:0;}
.su-list-faq li i + strong {margin-bottom:0.6rem;display:inline-block;}
.su-list-pros, .su-list-cons {list-style:none !important;}
.su-list-pros li:before, .su-list-cons li:before {content:"\2022";font-family:'Consolas','Sans-serif' !important;font-weight:bold;position:absolute;left:-1.2rem;}
.su-list-pros li:before {color:#00bf08;}
.su-list-cons li:before {color:#ff5249;}
.su-tabs div.su-tabs-nav span {font-size:16px;}
.su-tabs div.su-tabs-pane hr {margin-top:1rem;margin-bottom:1rem;}
.su-tabs-style-flat-blue table.aawp-table,.su-tabs-style-flat-green table.aawp-table {border:none !important;}
.su-tabs-style-flat-blue table.aawp-table th,.su-tabs-style-flat-green table.aawp-table th {color:#444;}
.su-tabs-style-flat-blue p.aawp-disclaimer a,.su-tabs-style-flat-green p.aawp-disclaimer a {color:#fff;}
.su-table table.su-table-default {border:none !important;}
.su-table table.su-table-default th {background:#d9edf7 !important;word-break:break-all;}
.sue-pricing-title {text-align:center;margin-bottom:1.2rem;}
.sue-pricing-table {margin-left:auto;margin-right:auto;}
.sue-pricing-table-small .sue-plan-options ul li {font-size:14px;padding:1px 0 !important;line-height:28px !important;min-height:32px;}
.sue-pricing-table-small-button .sue-plan-footer a {font-size:15px;padding:2px 10px !important;}
.sue-plan-price-after {font-size:0.5em !important;}
.sue-plan-options {padding:0 0.5rem;}
.sue-plan-options ul {padding:0 !important;}
.sue-plan-options ul li {word-break:break-all;}
.sue-panel {border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;}
.su-section-header {border-bottom:2px solid #212121;margin:2rem auto 1.2rem;background-image:url("images/section-header-background.svg");background-repeat:no-repeat;}
.su-section-header h3 {display:inline-block;margin:7px 0 5px 7px;color:#fff;text-shadow:1px 1px 0 #000;padding:4px 12px;font-size:20px;font-weight:500;background-image:url("images/section-header-background.png");}
.su-section-header h3.blue {background-position:0 -104px;}
.su-section-header h3.green {background-position:0 -208px;}
.su-section-header h3.light-green {background-position:0 -312px;}
.su-section-header + ul {display:block;padding:0 !important;margin-bottom:2rem !important;}
.su-section-header + ul li {list-style-type:none;display:inline-block;margin-bottom:1rem;padding-right:1rem !important;}
.su-title {width:100%;line-height:inherit;}
.su-title tr td {border:none;}
.su-title tr td:nth-child(1) {font-size:1.6rem !important;width:3.5rem;height:3.5rem;text-align:center;background-color:#fe1b48;color:#fff !important;padding:0 !important;box-shadow:0 2px 2px rgb(254 27 72 / 40%);}
.su-title tr td:nth-child(2) {font-size:1.4rem !important;background-color:#f7f8f9;color:#fe1b48 !important;padding:0 1rem !important;box-shadow:0 2px 2px rgb(102 102 102 / 10%);}
.su-title-blue tr td:nth-child(1) {background-color:#1a73e8;box-shadow:0 2px 2px rgb(27 72 254 / 40%);}
.su-title-blue tr td:nth-child(2) {color:#444 !important;}
.su-title-list {margin-bottom:2rem;}
.su-title-list tr:nth-child(odd) td:nth-child(1) {font-size:1.2rem !important;border:none !important;width:5rem;height:2.8rem;}
.su-title-list tr:nth-child(even) td {background-color:transparent;height:0.7rem !important;border:none !important;padding:0 !important;}
.su-title-list tr td {box-shadow:none !important;}
.su-title-list tr td:nth-child(2) a {font-size:1.2rem !important;color:#444 !important;}
.su-title-list tr td:nth-child(2) a:hover {text-decoration:underline !important;}
.su-title + .shop-item {float:none;margin:0.6rem auto;}
.su-title + div.center img {width:800px;}
.su-alert {padding:1.5rem;margin:1.5rem 0;}
.su-alert h3,.su-note-inner h3 {margin-top:0;margin-bottom:1.5rem;}
.su-alert-red {border-left:0.5rem #ff4a48 solid;border-right:0 #ff4a48 solid;background-color:#ffeaeb;}
.su-alert-green {border-left:0.5rem #00bf08 solid;border-right:0 #00bf08 solid;background-color:#f0fff0;}
.su-alert-blue {border-left:0.5rem #0073ec solid;border-right:0 #0073ec solid;background-color:#ebfaff;}
.su-alert-yellow {border-left:0.5rem #ffda00 solid;border-right:0 #ffda00 solid;background-color:#fffae8;}
.su-alert-purple {border-left:0.5rem #7a4aec solid;border-right:0 #7a4aec solid;background-color:#f1ecfd;}
.su-alert-tips {border-left:0.5rem #ffda00 solid;border-right:0 #ffda00 solid;background-color:#fffae8;}
.su-alert-note {border-left:0.5rem #ff4a48 solid;border-right:0 #ff4a48 solid;background-color:#ffeaeb;}
.su-label {margin-left:0.2rem;border:1px #999 solid;cursor:pointer;}
.su-label:hover a {color:#fff !important;}
.su-label i {margin-right:0.3rem;display:inline-block;}
.su-label-red {color:#f00;border:1px #f00 solid;background:transparent;}
.su-label-red a {color:#f00;}
.su-label-red:hover {color:#fff;border:1px #f00 solid;background:#f00;}
.su-label-green {color:#008821;border:1px #008821 solid;background:transparent;}
.su-label-green a {color:#008821;}
.su-label-green:hover {color:#fff;border:1px #008821 solid;background:#008821;}
.su-label-black {color:#000;border:1px #000 solid;background:transparent;}
.su-label-black a {color:#000;}
.su-label-black:hover {color:#fff;border:1px #000 solid;background:#000;}
.su-label-jd {color:#e2231a;border:1px #e2231a solid;background:transparent;}
.su-label-jd a {color:#e2231a;}
.su-label-jd:hover {border:1px #e2231a solid;background:#e2231a;}
.su-label-amazon {color:#c45500;border:1px #c45500 solid;background:transparent;}
.su-label-amazon a {color:#c45500;}
.su-label-amazon:hover {border:1px #c45500 solid;background:#c45500;}
.su-label-steam {color:#004986;border:1px #004986 solid;background:transparent;}
.su-label-steam a {color:#004986;}
.su-label-steam:hover {border:1px #004986 solid;background:#004986;}
.su-label-linkedin {color:#0073b0;border:1px #0073b0 solid;background:transparent;}
.su-label-linkedin a {color:#0073b0;}
.su-label-linkedin:hover {border:1px #0073b0 solid;background:#0073b0;}
.su-label .sui-map-marker {width:9px;}
.su-label .sui-apple {width:12px;}
.su-label .sui-imdb,.su-label .sui-linkedin {width:13px;}
.su-label .sui-search,.su-label .sui-amazon {width:14px;}
.su-label .sui-steam,.su-label .sui-google-play,.su-label .sui-youtube-play {width:15px;}
.su-button-small span {font-size:1rem;padding:0.4rem 0.8rem !important;line-height:1.5rem !important;}
.su-button-red {background-color:#fe1b48;}
.su-button-red:hover {background-color:#e10707;}
.su-button-blue {background-color:#1a73e8;}
.su-button-blue:hover {background-color:#174ea7;}
.su-button-broker {background-color:#fe1b48;}
.su-button-broker-live {background-color:#17a2b8;}
.su-button-broker-demo {background-color:#395d8a;}
.su-button-broker span {font-size:1rem;}
.su-button-like {color:#222;display:inline-block;height:40px;line-height:40px;padding-left:20px;padding-right:18px;border-radius:20px;}
.su-button-like:hover {color:#fff !important;}
.su-button-like-red {border-right:8px solid #e91e63;}
.su-button-like-red:hover {background:#e91e63;border-right-color:#f06292;}
.su-button-like-green {border-right:8px solid #00bcd4;}
.su-button-like-green:hover {background:#00bcd4;border-right-color:#4dd0e1;}
.su-button-like-blue {border-right:8px solid #2196f3;}
.su-button-like-blue:hover {background:#2196f3;border-right-color:#64b5f6;}
.su-button-like-orange {border-right:8px solid #ff9800;}
.su-button-like-orange:hover {background:#ff9800;border-right-color:#ffb74d;}
.su-regulate {border:1px #eee solid;margin-bottom:0;}
.su-regulate img {height:50px;max-width:80%;margin:1rem auto 0.1rem auto;}
.su-regulate table {margin-bottom:0.5rem;}
.su-regulate table td {border:none !important;}
.su-regulate table td:first-child a {background-color:#fe1b48;}
.su-regulate table td:last-child a {background-color:#17a2b8;}
.su-regulate table td a span {color:#fff;padding:3px 10px !important;font-size:15px;}
.su-box-small {border:1px #ddd solid !important;border-radius:3px !important;margin-bottom:1rem;}
.su-box-small .su-box-title {color:#1a73e8;font-size:0.95rem;padding:0.2rem 0.8rem;background-color:rgb(238,242,254,1.0) !important;}
.su-box-small .su-box-content {color:#1d4354;font-size:0.9rem;padding:0.4rem 0.8rem;}
.su-box-small .su-box-content p {margin-top:0.5rem;margin-bottom:0.5rem;}
.su-box-small .su-box-content ul {margin-bottom:1rem;}
.su-note-inner *:last-child,.su-alert *:last-child {margin-bottom:0 !important;}
.su-note-inner,.su-spoiler-content,.su-tooltip-content,.su-tabs-pane,.su-box-content,.su-alert,.su-column-inner,.sue-panel-content,.pt-cv-content,.czr-wp-the-content p,.su-section-header {text-align:justify;}
.su-button, .su-button-like, table.shop tr td {box-shadow:rgb(0 0 0 / 15%) 0px 2px 8px;}
.su-button, .su-label, .su-button-like, table.shop tr td, a.plan-button {-moz-transition:all .2s ease-in;-o-transition:all .2s ease-in;-webkit-transition:all .2s ease-in;transition:all .2s ease-in;}
.su-button, .sue-pricing-table-small .sue-plan-footer a, .btn-draw, .aawp-button-amazon, .coupon-input-group-append .copy .tooltiptext, div#commentlist-container div.comment-author > span.small {border-radius:3px !important;-moz-border-radius:3px !important;-webkit-border-radius:3px !important;}
.su-quote, .su-tabs-pane, .su-spoiler-content {font-size:15px;}
.brand c, .entry-content c {display:inline;margin-left:0.1rem;margin-right:0.1rem;}
.czr-wp-the-content div.center + ul,.czr-wp-the-content div.center + table {margin-top:1.2rem;}
.czr-wp-the-content ul,.czr-wp-the-content ol {padding:0rem 0.5rem 0 2rem;margin-bottom:1.5rem}
.czr-wp-the-content ul>li,.czr-wp-the-content ol>li {padding:0.1rem 0.4rem;text-align:justify;position:relative;}
.primary-navbar__wrapper .navbar-brand-sitelogo img {width:250px;}
.mobile-navbar__wrapper .navbar-brand-sitelogo img {width:180px;}
.split-after-content {height:1rem;margin-top:2rem;}
.enlighter-default {padding:0.2rem 0 !important;}
footer#footer {text-align:left;position:relative;}
footer#footer div.title {font-size:16px;margin-left:0.5rem;}
footer#footer div p {padding-left:0.5rem;}
footer#footer div p.text {color:#777;text-align:justify;}
footer#footer div hr {width:90%;border-bottom:0px;border-top:1px #888 solid;}
footer#footer div ul {margin-top:1rem;padding-left:0.5rem;}
footer#footer div ul li {margin-bottom:0.8rem;}
footer#footer .textwidget table tr td {border:none;padding:0 0 0.4rem 0;vertical-align:top;}
footer#footer .colophon__row {font-size:0.8rem;color:#777;padding:1.2rem;}
emojis.cow-face::before {content:'\01F42E';}
emojis.slightly-smiling-face::before {content:'\01F642';}
emojis.smiling-face-with-smiling-eyes::before {content:'\01F60A';}
emojis.face-with-tears-of-joy::before {content:'\01F602';}
emojis.thumbs-up::before {content:'\01F44D';}
emojis.loudly-crying-face::before {content:'\01F62D';}
emojis.face-with-head-bandage::before {content:'\01F915';}
emojis.rolling-on-the-floor-laughing::before {content:'\01F923';}
@media screen and (min-width:1280px) {.container {max-width:1240px;}}
@media screen and (min-width:1440px) {.container {max-width:1400px;}}
@media print {body * {display:none !important;} body:after {content:"";}}

/** PC */
@media screen and (min-width:1281px) {
	div.container div.col-md-9 {flex:0 0 73%;max-width:73%;padding-left:2rem;padding-right:2rem;}
	div.container div.col-md-3 {flex:0 0 27%;max-width:27%;padding-left:2.5rem;padding-right:2rem;}
	div.comments-area {margin-top:-2rem;}
	div.shop-item {float:right;width:360px;margin:0.6rem 0 0.6rem 0.6rem;}
	div.textwidget div.pt-cv-wrapper div.pt-cv-content-item {padding-bottom:5px;}
	div.textwidget div.pt-cv-wrapper div.pt-cv-ifield img.pt-cv-thumbnail {width:95px;}
	div.textwidget div.pt-cv-wrapper div.pt-cv-ifield h4.pt-cv-title {line-height:22px;word-break:break-all;text-align:justify;}
	div.textwidget div.pt-cv-wrapper div.pt-cv-ifield div.pt-cv-content {display:none;}
	div.brand div.img {line-height:140px;}
	div.brand div img {max-height:64px;max-width:80%;}
	div.brand div.description {font-size:1.2em;}
	table.features tr td:nth-child(1) {width:200px;padding-left:0.8rem;}
	table.best-seller {width:auto;border:none !important;margin:3.5rem auto 1rem auto;}
	table.best-seller td.icon {width:38px;padding:0 !important;}
	table.best-seller td.title {font-size:36px !important;color:#000 !important;padding-right:0 !important;}
	.aawp-product-reviews {display:inline-block !important;}
	footer #footer div hr {width:90%;}
	.su-row .su-column-size-1-2 {width:50% !important;}
	.su-table table.su-table-default td.buy {padding:0.6em 0 0.6em 1em !important;}
	.sue-testimonial {margin-top:1.2em;margin-bottom:1.2em !important;}
	.sue-testimonial-has-photo {padding-left:120px !important;}
	.sue-testimonial-has-photo img.sue-testimonial-photo {width:100px !important;height:100px !important;}
	.text-md-right ul {font-size:1.2em;}
	.branding .navbar-brand {line-height:1em;}
}

/** Pad */
@media screen and (min-width:768px) and (max-width:1280px) {
	div.container div.col-md-9 {flex:0 0 100%;max-width:100%;}
	div.container div.col-md-3 {display:none;}
	div.comments-area {margin-top:-2rem;}
	div.shop-item {margin:0px auto 15px auto;}
	div#footer_three p span + a {display:none;}
	table.best-seller {width:auto;border:none !important;margin:3.5rem auto 1rem auto;}
	table.best-seller td.icon {width:38px;padding:0 !important;}
	table.best-seller td.title {font-size:36px !important;color:#000 !important;padding-right:0 !important;}
	.aawp-table-th-rating,.aawp-table-td-rating {display:none !important;}
	.su-row .su-column-size-1-2 {width:50% !important;float:left !important;}
	.su-table table th.buy,.su-table table td.buy {display:none;}
	.sue-pricing-table .sue-plan {display:block;width:90%;margin:1rem auto;border-left-width:1px !important;}
	.sue-plan-options ul li {line-height:40px !important;}
	.sue-testimonial {margin-top:1.2em;margin-bottom:1.2em !important;}
	.sue-testimonial-has-photo {padding-left:100px !important;}
	.sue-testimonial-has-photo img.sue-testimonial-photo {width:80px !important;height:80px !important;}
}

/** Mobile */
@media screen and (max-width:767px) {
	body {line-height:1.5;font-size:0.9em;}
	@media (min-width:20em) and (max-width:40em) {body {line-height:calc( 1.5 + 0.15 * ( ( 100vw - 20em) / 20 ));}}
	@media (min-width:20em) and (max-width:60em) {body {font-size:calc( 0.9em + 0.0375 * ( ( 100vw - 20em) / 40 ));}}
	@media (min-width:20em) and (max-width:60em) {h1 {font-size:calc( 1em + 1.5 * ( ( 100vw - 20em) / 40 ));}}
	@media (min-width:20em) and (max-width:60em) {h2 {font-size:calc( 1.1em + 1 * ( ( 100vw - 20em) / 40 ));}}
	@media (min-width:20em) and (max-width:60em) {h3 {font-size:calc( 1em + 0.7 * ( ( 100vw - 20em) / 40 ));}}
	@media (min-width:20em) and (max-width:60em) {h4 {font-size:calc( 1em + 0.4 * ( ( 100vw - 20em) / 40 ));}}
	@media (min-width:20em) and (max-width:60em) {h5 {font-size:calc( 1em + 0.2 * ( ( 100vw - 20em) / 40 ));}}
	.archive-header .archive-title {font-size:1.6rem;}
	.archive-header .featurette-divider {margin-top:1rem;}
	div.czr-wp-the-content div.pt-cv-wrapper div.pt-cv-content-item:last-child {padding-bottom:0;}
	div.czr-wp-the-content div.pt-cv-ifield img.pt-cv-thumbnail {width:auto;height:75px;float:left;margin-right:10px;}
	div.czr-wp-the-content div.pt-cv-ifield h4.pt-cv-title {white-space:nowrap;margin-bottom:3px !important;}
	div.czr-wp-the-content div.pt-cv-ifield div.pt-cv-content {height:50px !important;white-space:nowrap;}
	div.comments-area {margin:-2rem auto 3rem auto;}
	div.shop-item {margin:0px auto 15px auto;}
	div.textwidget div.pt-cv-wrapper {overflow:hidden;}
	div.textwidget div.pt-cv-wrapper div.pt-cv-content-item {padding-left:10px;padding-right:10px;}
	div.textwidget div.pt-cv-wrapper div.pt-cv-ifield img.pt-cv-thumbnail {width:auto;height:80px;}
	div.textwidget div.pt-cv-wrapper div.pt-cv-ifield h4.pt-cv-title {margin-bottom:6px;word-break:break-all;}
	div.textwidget div.pt-cv-wrapper div.pt-cv-ifield div.pt-cv-content a {margin:0px;}
	div.brand div.brand-top-logo {margin:1rem auto;}
	div.brand div.img {line-height:180px;}
	div.brand div img {max-height:80px;margin-left:10%;margin-right:10%;}
	div.brand div.description {font-size:1.5em;}
	div.about-author div.su-column:nth-child(1) div.center {margin:0 auto;}
	div.about-author div.su-column:nth-child(1) div.su-column-inner {padding-top:2rem;}
	div#footer_three p span {margin-right:2.5rem;}
	#content,#main-wrapper {padding-bottom:0;}
	table.best-seller {width:auto;border:none !important;margin:3.5rem auto 0.5rem auto;}
	table.best-seller td.icon {width:30px;padding:0 !important;}
	table.best-seller td.title {font-size:28px !important;color:#000 !important;padding-right:0 !important;}
	table.hide-col1 tr th:nth-child(1), table.hide-col1 tr td:nth-child(1) {display:none;}
	table.hide-col2 tr th:nth-child(2), table.hide-col2 tr td:nth-child(2) {display:none;}
	table.hide-col3 tr th:nth-child(3), table.hide-col3 tr td:nth-child(3) {display:none;}
	table.hide-col4 tr th:nth-child(4), table.hide-col4 tr td:nth-child(4) {display:none;}
	table.hide-col5 tr th:nth-child(5), table.hide-col5 tr td:nth-child(5) {display:none;}
	table.hide-col6 tr th:nth-child(6), table.hide-col6 tr td:nth-child(6) {display:none;}
	table.hide-col7 tr th:nth-child(7), table.hide-col7 tr td:nth-child(7) {display:none;}
	table.hide-col8 tr th:nth-child(8), table.hide-col8 tr td:nth-child(8) {display:none;}
	table.hide-col4-end tr th:nth-child(n+4), table.hide-col4-end tr td:nth-child(n+4) {display:none;}
	table.hide-col5-end tr th:nth-child(n+5), table.hide-col5-end tr td:nth-child(n+5) {display:none;}
	.sue-pricing-table .sue-plan {display:block;width:90%;margin:1rem auto;border-left-width:1px !important;}
	.sue-plan-options ul li {line-height:40px !important;}
	.sue-pricing-table .sue-plan .sue-plan-options {min-height:auto !important;}
	.sue-testimonial {margin-top:1.2em;margin-bottom:1.2em !important;}
	.sue-testimonial-has-photo {padding-left:100px !important;}
	.sue-testimonial-has-photo img.sue-testimonial-photo {width:80px !important;height:80px !important;}
	.su-row-pros-cons .su-column-size-1-2:nth-child(1) {border-right:none;}
	.su-row-pros-cons .su-column-size-1-2:nth-child(2) .su-box .su-box-title {border-top:1px #c2d9fc solid;}
	.su-title tr td {padding:0.3em !important;}
	.su-title tr td:nth-child(1) {font-size:1.3rem !important;width:2.8rem;height:2.8rem;}
	.su-title tr td:nth-child(2) {font-size:1.1rem !important;padding:0 0.8rem !important;}
	.su-title-list tr:nth-child(odd) td:nth-child(1) {width:3rem;}
	.su-title-list tr td:nth-child(2) a {font-size:1.1rem !important;}
	.su-alert {padding:1rem;}
	.su-note-inner,.su-spoiler-content,.su-tooltip-content,.su-tabs-pane,.su-box-content,.su-alert,.su-column-inner,.sue-panel-content,.pt-cv-content,.czr-wp-the-content p,.su-section-header,.czr-wp-the-content ul>li,.czr-wp-the-content ol>li,td {word-break:break-all;}
	.text-md-right ul {font-size:1.4em;}
	.hide-on-mobile {display:none;}
}

.aawp {box-sizing:border-box;background-color:#fff;font-size:15px !important;margin-top:1.5rem;}
.aawp table.aawp-table {display:block;border-collapse:collapse;border-spacing:0;}
.aawp table.aawp-table thead,.aawp table.aawp-table tbody,.aawp table.aawp-table th,.aawp table.aawp-table td,.aawp table.aawp-table tr {display:block;}
.aawp table.aawp-table thead tr {position:absolute;top:-9999px;left:-9999px;}
.aawp table.aawp-table tr {margin-bottom:0;}
.aawp table.aawp-table th {padding:15px 10px !important;}
.aawp table.aawp-table th.aawp-table-th-thumb {text-align:center;}
.aawp table.aawp-table td {border-left:none !important;border-right:none !important;}
.aawp table.aawp-table td:before {content:attr(data-label) ":";display:inline-block;margin-right:0.5rem;font-weight:bold;}
.aawp table.aawp-table td img {display:inline-block;max-width:100%;height:auto;margin:0 auto;max-height:160px;}
.aawp table.aawp-table td.aawp-table-td-position {font-weight:bold;text-align:center;}
.aawp table.aawp-table td.aawp-table-td-position:before {content:attr(data-label) "";width:auto;margin-right:5px;}
.aawp table.aawp-table td.aawp-table-td-thumb,.aawp table.aawp-table td.aawp-table-td-title,.aawp table.aawp-table td.aawp-table-td-links {text-align:center;}
.aawp table.aawp-table td.aawp-table-td-thumb:before,.aawp table.aawp-table td.aawp-table-td-title:before,.aawp table.aawp-table td.aawp-table-td-links:before {display:none;}
.aawp table.aawp-table td.aawp-table-td-pricing .aawp-product-price {display:inline-block;margin-right:10px;vertical-align:middle;}
.aawp table.aawp-table td.aawp-table-td-pricing .aawp-product-price-old {color:#666;font-size:11.2px;text-decoration:line-through;}
.aawp table.aawp-table td.aawp-table-td-pricing .aawp-check-prime {width:55px;}
.aawp table.aawp-table td.aawp-table-td-rating i {font-size:16px;}
.aawp table.aawp-table span.aawp-product-reviews {display:none;}
.aawp-product {position:relative;margin:0 0 30px;width:100%;}
.aawp-product .aawp-product-title {word-break:break-all;color:#fe1b48;}
.aawp-product-shop {display:inline-block;font-size:11px;line-height:15px;border:1px #ccc solid;padding:1px 5px;margin-top:5px;}
span.aawp-product-shop-jd-sale {background-color:#e23a3a;color:#fff;border:1px #e23a3a solid;}
span.aawp-product-shop:nth-child(2) {margin-left:5px;}
.aawp-disclaimer {font-size:12px;margin-top:0.5rem;}
.aawp-disclaimer i {margin-left:3px;}
.aawp-button-jd {background-color:#e2231a;color:#fff !important;padding:10px 16px;border:none !important;}
.aawp-button-jd:hover {color:#fff !important;background-color:#c91623;}
.aawp-button-amazon {background:linear-gradient(to bottom,#f7dfa5,#f0c14b) repeat scroll 0 0 rgba(0,0,0,0);color:#111 !important;padding:8px 12px;border:1px #9c7e31 solid !important;}
.aawp-button-amazon:hover {color:#111 !important;background:linear-gradient(to bottom,#f5d78e,#eeb933) repeat scroll 0 0 rgba(0,0,0,0);}

@media (max-width:799px) {
	.aawp {font-size:14px !important;}
	.aawp table.aawp-table td {border:none !important;}
	.aawp table.aawp-table td:last-child {padding-bottom:2rem !important;border-bottom:1px #eee solid !important;}
	.aawp table.aawp-table tr:last-child td:last-child {border-bottom:none !important;}
	.aawp table.aawp-table td.aawp-table-td-position {position:absolute;height:0;line-height:1px;color:#fff !important;padding:0 15px !important;border-top:15px solid #00bf08 !important;border-bottom:15px solid #00bf08 !important;border-right:15px solid transparent !important;top:0.6rem;left:-5px;}
	.aawp table.aawp-table td.aawp-table-td-thumb {padding-bottom:0;}
	.aawp table.aawp-table td.aawp-table-td-title {padding:1.2rem 0.5rem;line-height:1.2rem;}
	.aawp table.aawp-table td.aawp-table-td-rating,.aawp table.aawp-table td.aawp-table-td-pricing,.aawp table.aawp-table td.aawp-table-td-description {padding-top:0 !important;padding-bottom:0 !important;}
	.aawp table.aawp-table td.aawp-table-td-rating div.split {display:none;}
	.aawp table.aawp-table td.aawp-table-td-thumb-finance {text-align:inherit;}
	.aawp table.aawp-table td.aawp-table-td-thumb-finance img {width:100px;margin-bottom:0.5rem;}
}

@media (min-width:800px) {
	.aawp table.aawp-table {display:table;table-layout:auto;width:100%;line-height:1.4;}
	.aawp table.aawp-table thead {display:table-header-group;}
	.aawp table.aawp-table thead tr {position:static;top:auto;left:auto;}
	.aawp table.aawp-table tbody {display:table-row-group;}
	.aawp table.aawp-table tr {display:table-row;}
	.aawp table.aawp-table th,.aawp table.aawp-table td {display:table-cell;padding:10px !important;}
	.aawp table.aawp-table td:before {display:none;content:"";width:auto;}
	.aawp table.aawp-table thead {background:#f9f9f9;}
	.aawp table.aawp-table th.aawp-table-th-position,.aawp table.aawp-table td.aawp-table-th-position,.aawp table.aawp-table th.aawp-table-td-position,.aawp table.aawp-table td.aawp-table-td-position {max-width:50px;font-weight:bold;white-space:nowrap;}
	.aawp table.aawp-table th.aawp-table-th-thumb img,.aawp table.aawp-table td.aawp-table-th-thumb img,.aawp table.aawp-table th.aawp-table-td-thumb img,.aawp table.aawp-table td.aawp-table-td-thumb img {display:block;margin:0 auto;max-width:65px;max-height:65px;}
	.aawp table.aawp-table th.aawp-table-th-rating .aawp-product-reviews,.aawp table.aawp-table td.aawp-table-th-rating .aawp-product-reviews,.aawp table.aawp-table th.aawp-table-td-rating .aawp-product-reviews,.aawp table.aawp-table td.aawp-table-td-rating .aawp-product-reviews {display:block;margin-top:5px;color:#666;font-size:12px;white-space:nowrap;}
	.aawp table.aawp-table th.aawp-table-th-pricing,.aawp table.aawp-table td.aawp-table-th-pricing,.aawp table.aawp-table th.aawp-table-td-pricing,.aawp table.aawp-table td.aawp-table-td-pricing {white-space:nowrap;}
	.aawp table.aawp-table th.aawp-table-th-pricing .aawp-product-price,.aawp table.aawp-table td.aawp-table-th-pricing .aawp-product-price,.aawp table.aawp-table th.aawp-table-td-pricing .aawp-product-price,.aawp table.aawp-table td.aawp-table-td-pricing .aawp-product-price {display:block;font-weight:bold;}
	.aawp table.aawp-table th.aawp-table-th-pricing .aawp-product-price-old,.aawp table.aawp-table td.aawp-table-th-pricing .aawp-product-price-old,.aawp table.aawp-table th.aawp-table-td-pricing .aawp-product-price-old,.aawp table.aawp-table td.aawp-table-td-pricing .aawp-product-price-old {font-weight:400;}
	.aawp table.aawp-table th.aawp-table-th-links,.aawp table.aawp-table td.aawp-table-th-links,.aawp table.aawp-table th.aawp-table-td-links,.aawp table.aawp-table td.aawp-table-td-links {white-space:nowrap;}
	.aawp table.aawp-table th.aawp-table-th-title,.aawp table.aawp-table td.aawp-table-td-title {padding-left:20px !important;padding-right:20px !important;text-align:justify;}
	.aawp table.aawp-table-jd td.aawp-table-td-rating,td.aawp-table-td-pricing {width:100px;}
	.aawp table.aawp-table-jd td.aawp-table-td-links {width:110px;}
	.aawp table.aawp-table-amazon td.aawp-table-td-rating,.aawp table.aawp-table-amazon td.aawp-table-td-links {width:120px;}
	.aawp table.aawp-table td.aawp-table-td-thumb-finance {width:120px;padding:5px !important;}
	.aawp table.aawp-table td.aawp-table-td-thumb-finance img {max-width:70px;}
	.aawp table.aawp-table td.aawp-table-td-description {min-width:100px;}
}